/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Nunito Sans";
  background-color: #fff;
  color: #18121E;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  color: #FDFDFD;
  transition: all 0.1s ease-in;
}
a:hover {
  color: #F2BE22;
  transition: all 0.1s ease-in;
}

.container {
  padding: 0 15px;
  max-width: 1180px;
  margin: 0 auto;
}

.title {
  font-weight: bold;
  font-size: clamp(1.375rem, -0.33rem + 7.18vw, 3.125rem);
  text-transform: uppercase;
  font-weight: 800;
  line-height: 150%;
}

.caption {
  font-size: clamp(1.5rem, -0.026rem + 4.21vw, 2rem);
  font-weight: 800;
  line-height: 120%;
  margin-bottom: clamp(2rem, 1.818rem + 0.91vw, 2.5rem);
}

.lead {
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  font-weight: 400;
  color: #F2BE22;
  line-height: 20px;
  text-transform: lowercase;
  margin-bottom: 8px;
}

.text {
  font-size: clamp(1rem, 0.618rem + 1.05vw, 1.125rem);
  line-height: 150%;
  margin-bottom: clamp(2rem, 1.818rem + 0.91vw, 2.5rem);
}

.button {
  padding: 16px 36px;
  background-color: #1A3E3E;
  color: #FDFDFD;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.192px;
  border-radius: 4px;
  border: 1px solid #1A3E3E;
  transition: all 0.2s ease-in;
}
.button:hover {
  background-color: #FDFDFD;
  color: #1A3E3E;
  transition: all 0.2s ease-in;
}

.section {
  padding: 100px 0;
}

.header {
  color: #FDFDFD;
  height: 100vh;
  background: #18121E url("../img/header/hero.png") center no-repeat;
  background-size: cover;
}
.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 8vh;
  height: 100%;
}
.header__top {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.header__logo {
  min-width: 90px;
}
.header__right {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  gap: 49px;
  align-items: center;
}
.header__button {
  padding: 12px 24px;
}
.header__title {
  margin-bottom: 41px;
}
.header__form {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  padding: 40px;
  justify-content: space-between;
  gap: 24px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 0;
}
.header__form > label > span {
  padding-left: 8px;
  font-weight: 400;
}
.header__input {
  font-size: 16px;
  border: 1px solid #FDFDFD;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 8px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 700;
  max-width: 100%;
  padding-right: 40px;
}
.header__option {
  color: #1A3E3E;
  font-weight: 700;
}
.header__option-disable {
  display: none;
}
.header #agen, .header #location {
  position: relative;
}
.header #agen::before, .header #location::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 18px;
  width: 20px;
  height: 20px;
  pointer-events: none;
  background-image: url("../img/header/arrow-down.svg");
  background-repeat: no-repeat;
}
.header__date-first {
  margin-right: 2px;
}
.header__search {
  background-color: #FDFDFD;
  color: #1A3E3E;
}
.header__search:hover {
  background-color: #1A3E3E;
  color: #FDFDFD;
  border: 1px solid #FDFDFD;
}

#dateAfter, #dateBefore {
  font-weight: 700;
}

.nav__list {
  display: flex;
  gap: 24px;
}

.info__container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.info .widget {
  position: relative;
}
.info .widget__image {
  border-radius: 24px;
  width: 350px;
}
.info .widget__bg {
  position: absolute;
  z-index: 0;
}
.rec {
  background-color: #F3F5F4;
}
.rec__container {
  display: flex;
  justify-content: space-between;
}
.rec__program {
  margin-bottom: clamp(2rem, 1.818rem + 0.91vw, 2.5rem);
  display: flex;
}
.rec__subject {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.216px;
}
.rec__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.rec__image {
  margin: 7px 16px 0 0;
  max-width: none;
}
.rec__photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.rec__photo {
  max-width: 250px;
}
.rec__photo-one, .rec__photo-two {
  align-self: flex-end;
}
.rec__photo-one, .rec__photo-four {
  border-radius: 0 50px;
}
.rec__photo-two, .rec__photo-three {
  border-radius: 50px 0;
}

.directions__container {
  text-align: center;
}
.directions__row {
  display: flex;
  gap: 20px;
}

.direction {
  width: clamp(17.813rem, 15.653rem + 10.8vw, 23.75rem);
  height: clamp(25rem, 22.727rem + 11.36vw, 31.25rem);
  color: #FDFDFD;
  border-radius: 32px;
  text-align: left;
  margin-bottom: clamp(2rem, 1.591rem + 2.05vw, 3.125rem);
  -webkit-mask-image: linear-gradient(to bottom, #000, #000);
          mask-image: linear-gradient(to bottom, #000, #000);
}
.direction-one {
  background: #18121E url("../../img/directions/block1.png");
}
.direction-two {
  background: #18121E url("../../img/directions/block2.png");
}
.direction-three {
  background: #18121E url("../../img/directions/block3.png");
}
.direction__content {
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  height: 100%;
  transform: translate(0, 80%);
  transition: transform 1s ease-in;
}
.direction__content:hover {
  transform: translate(0);
  transition: transform 1s ease-in;
}
.direction__header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px 32px 0 0;
  height: 20%;
}
.direction__subject {
  font-size: clamp(1.125rem, 0.989rem + 0.68vw, 1.5rem);
  font-weight: 700;
  line-height: 120%;
}
.direction__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
}
.direction__price {
  padding: 8px 16px;
  font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
  font-weight: 700;
  line-height: 24px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.3);
}
.direction__main {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 80%;
  border-radius: 0 0 32px 32px;
}
.direction__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.direction__button {
  padding: 12px 24px;
}

.blog {
  background-color: #F3F5F4;
}
.blog__container {
  text-align: center;
}
.blog__content {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.article {
  display: flex;
  gap: 24px;
  padding: 16px;
  border-radius: 10px;
  background: #FDFDFD;
  text-align: left;
}
.article__image {
  border-radius: 10px;
  max-width: 230px;
}
.article__content {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.article__title-link {
  color: #18121E;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.article__title-link:hover {
  color: #1A3E3E;
  text-decoration: underline;
}
.article__text {
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.article__footer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.article__date {
  color: #F2BE22;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.article__link {
  text-transform: lowercase;
  color: #1A3E3E;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.article__link:hover {
  color: #1A3E3E;
  text-decoration: underline;
}

.gallery__container {
  text-align: center;
}
.gallery__content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "photo1 photo1 photo2 photo3" "photo4 photo5 photo5 photo6";
  margin-bottom: clamp(2.25rem, -13.188rem + 32.5vw, 3.063rem);
}
.gallery__btn {
  display: block;
  position: relative;
  border-radius: 6px;
}
.gallery__btn-one {
  grid-area: photo1;
}
.gallery__btn-two {
  grid-area: photo2;
}
.gallery__btn-three {
  grid-area: photo3;
}
.gallery__btn-four {
  grid-area: photo4;
}
.gallery__btn-five {
  grid-area: photo5;
}
.gallery__btn-six {
  grid-area: photo6;
}
.gallery__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(26, 62, 62, 0.3019607843);
  opacity: 0;
  z-index: 0;
  transition: all 0.1s ease-in;
}
.gallery__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../img/gallery/zoom.svg") center no-repeat;
  opacity: 0;
  z-index: 1;
  transition: all 0.1s ease-in;
}
.gallery__btn:hover::before, .gallery__btn:hover::after {
  opacity: 1;
  transition: all 0.1s ease-in;
}

.mailing {
  background: linear-gradient(#fff 50%, #1A3E3E 50%);
}
.mailing__content {
  display: flex;
  border-radius: 6px;
  background: #FDFDFD;
  box-shadow: 0px 0px 15px 0px rgba(24, 18, 30, 0.12);
  padding: 40px;
  gap: 18px;
  justify-content: space-between;
}
.mailing__lead {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.mailing__caption {
  font-size: 24px;
  font-weight: 800;
  line-height: 120%;
}
.mailing__column {
  max-width: 60%;
}
.mailing__email {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.mailing__form {
  margin: 8px 0;
  display: flex;
  gap: 16px;
}
.mailing__input {
  background: #F3F5F4;
  padding: 0 16px;
  border-radius: 4px;
}
.mailing__button {
  padding: 12px 24px;
}
.mailing__link {
  color: #18121E;
  text-decoration: underline !important;
}

.footer {
  background-color: #1A3E3E;
  color: #FDFDFD;
  display: flex;
  flex-direction: column;
}
.footer__container-top {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 20px;
}
.footer__container-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;
}
.footer__bottom {
  background-color: #18121E;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 480px;
}
.footer__services, .footer__important {
  flex-shrink: 0;
}
.footer__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.footer__text {
  font-size: 14px;
  line-height: 20px;
  height: 100%;
}
.footer__contacts {
  display: flex;
  gap: 24px;
  margin-bottom: 30px;
}
.footer__contacts a {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-decoration: underline;
}
.footer__socials {
  display: flex;
  gap: 16px;
}
.footer__socials-link:hover .footer__socials-link-img {
  fill: #F2BE22;
  transition: all 0.1s ease-in;
}
.footer__socials-link-img {
  transition: all 0.1s ease-in;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__list-item {
  list-style-image: url("../../img/footer/arrow_list.svg");
  list-style-position: inside;
  font-size: 14px;
  line-height: 18px;
}
.footer__list-item-new::after {
  content: "new";
  background-color: #EDF0F5;
  color: #1A3E3E;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 4px;
  padding: 2px 10px;
  margin-left: 8px;
}
.footer__list-item-link:hover {
  text-decoration: underline;
}
.footer__right-link {
  text-decoration: underline !important;
}