.article {
	display: flex;
	gap: 24px;
	padding: 16px;
	border-radius: 10px;
	background: $header-color;
	text-align: left;

	&__image {
		border-radius: 10px;
		max-width: 230px;
	}

	&__content {
		padding: 16px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	//!
		gap: 24px;
	}

	&__title-link {
		color: $text-color;
	//!
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		&:hover {
			color: $secondary-color;
			text-decoration: underline;
		}
	}

	&__text {
		height: 100%;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		gap: 10px;
	}

	&__date {
		color: $lead-color;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
	}

	&__link {
		text-transform: lowercase;
		color: $secondary-color;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
		&:hover {
			color: $secondary-color;
			text-decoration: underline;
		}
	}
}