// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,700;6..12,800&display=swap');

$font-main: "Nunito Sans";

// Colors

$header-color: #FDFDFD;
$secondary-color: #1A3E3E;
$lead-color: #F2BE22;
$text-color: #18121E;
$background-color: #EDF0F5;
$white-color: #fff;
$background-secondary-color: #F3F5F4;
